/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html, body {
  min-height: 100%;
}

/* GLOBAL BACKGROUND */
body {
  background: radial-gradient(circle at top, #0b1d36, #000);
  color: #eaf3ff;
}

/* NAVBAR */
.navbar {
  padding: 30px 60px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #3fa9f5;
  letter-spacing: 2px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
}

.hero h1 {
  font-size: 48px;
  background: linear-gradient(90deg,
